<!DOCTYPE html>
<html>
<head>
  <title>Ikijibiki</title>
  <%= stylesheet_link_tag    "stylesheets/index.css", :media => "all" %>
  <%= javascript_include_tag "https://raw.github.com/janl/mustache.js/master/mustache.js" %>
  <%= javascript_include_tag "http://code.jquery.com/jquery-latest.js" %>
  <%= javascript_include_tag "javascripts/index.js" %>
  <%= javascript_include_tag "javascripts/swagger.js" %>
</head>
<body>


<div id="body">

    <h1>Wordnik Ikijibiki</h1>

    <p>How many words do you know? Are you an <i>Ikijibiki</i>? At our latest count, Wordnik has 636,357 words with definitions. 
    Scan the words below. Here's a random sample—if you know a word, click on it. You'll see a rough estimate of the 
    total number of English words you know. (Click on the question marks to see definitions.)</p>

    <ul id="wordlist">
      <% @words.each do |word| %>
        <li>
          <span class="word"> <%= word %></span>
          <span class="lookup">?</span>
        </li>
      <% end %>
    </ul>

    <p id="according">
      According to what you've told me so far, you know about 
      <span id="wordcount">0</span> words.
      <span id="ikijibiki"></span>
    </p>


   <ul id="definitions"></ul>

</div>

<div id="footer">
  <%= link_to image_tag("images/wordnik_badge_a3.png"), "http://www.wordnik.com" %>
</div>

<div id="definitionTemplate" style="display:none">
  <li>
    <span class='word'>{{word}}</span>

    <ol>
      {{#definitions}}
      <li>{{text}}</li>
      {{/definitions}}
    </ol>
    
    <span class='attribution'>
      {{attributionText}}
      <a class ='wn_link' href='http://www.wordnik.com/words/{{word}}'>more</a>
    </span>
  </li>
</div>

</body>
</html>